/*Cabeçalho e Menu opções*/
/*Necessario replicar código, erro causado por diferenças nos layouts das páginas*/
.sacola{
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.sacola{
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}

body{
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
    padding-top: 8px;
}

.container{
    margin: 0 auto;
    width: 940px;
}

header{
    position: relative;
}

.menu-opcoes{
    position: absolute;
    top: 55px;
    right: 0;
}



/*Corpo do texto e imagens*/
body{
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

h2{
    background-image: url(../img/sobre-background.jpg);

    padding-left: 2px;
}

h3{
    border-bottom: 2px solid #333333;

    margin-top: 30px;
}

figure{
    background-color: #f2eded;
    border: 1px double #ccc;
    text-align: center;

    padding: 5px 25px;
    text-indent: 15px;
}

figcaption{
    font-style: italic;

    margin-top: 10px;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 610px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}



/*Rodapé*/
/*Arrumar rodapé*/
footer{
    background-image: url(../img/fundo-rodape.png);

    clear: both;
    position: absolute;
    width: 940px;
    height: 90px;
}

footer .container{
    position: relative;
}

#logo{
    margin-left: 5px; /*Afastar logo*/
    margin-top: 15px;
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social a{
    height: 32px;
    width: 32px;

    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}

.social li{
    float: right;
    margin-right: 25px;
    position: static;
}


/*Seletores*/
p::first-letter{
    font-weight: bold;
}

h1 + p{
    text-indent: 0;
}

:not(p) + p::first-line {
    font-variant: small-caps;
}